# npm 10+ 会警告未知的项目级自定义配置项，所以不要在 .npmrc 中写 ELECTRON_MIRROR。
# 如果需要 Electron 下载镜像，请在当前 shell 中临时设置环境变量后再执行 npm install：
# PowerShell:
#   $env:ELECTRON_MIRROR='https://npmmirror.com/mirrors/electron/'
#   npm install
